body {
  margin: 0px;
  text-align: center;
  font-family: "Inconsolata$", monospace;
}

#content {
  width: 100%;
  display: inline-block;
  text-align: left;
}

*:focus {
  outline: none;
}

div {
  display: -webkit-inline-box;
}

.click {
  cursor: pointer;
}

.selection {
  cursor: pointer;
}

.header {
  font-size: 72px;
  text-align: center;
  color: #0B486B;
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 831px;
}

.title {
  display: inline-block;
  font-size: 32px;
}

.ui-widget {
  display:block;
  width:200px;
}

.ui-autocomplete {
  text-align:left;
}

a {
  cursor: pointer;
}

.trumbowyg-box, .trumbowyg-editor {
  display:inline-block;
  border: none;
}

.trumbowyg-editor {
  padding: 0px;
}
