<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{key}}</title>
  <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel='stylesheet'>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<style>
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Quicksand');
</style>
<script type="text/javascript" src="{{ url_for('static', filename='cursor.js') }}"></script>
  <script type="text/javascript">
    var csrftoken = "{{ csrf_token() }}";
    var readonly = "{{ readonly }}" == "True";
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    var pageKey = '{{key}}'
    var firstMessage = true;
    var divCloseLength = "</div>".length
    var selectionStart = 0
    var selectionEnd = 0
    var clientRects = []
    var selectionText = ""

		jQuery(document).ready(function($) {
      // enable search
      $('#search').autocomplete({
        source: function(request, response) {
          $.get({
            url: "{{ url_for('search_view') }}?term=" + encodeURIComponent(request.term),
            success: function(data) {
              resultCount = data.results.length
              response(data.results)
            }
          })
        },
        select: function(event, ui) {
            window.location = "{{ url_for('index_view') }}?key=" + encodeURIComponent(ui.item.value)
        },
        autoFocus: true
      });
      var resultCount = 0
      $('#search').keyup(function(e) {
        var code = e.keyCode || e.which;
        if (resultCount === 0 && code === 13) {
          window.location = "{{ url_for('index_view') }}?key=" + encodeURIComponent($('#search').val())
        }
      });

      var socket = io.connect();

      // disable select all
      $(document).keydown(function(objEvent) {        
        if (objEvent.ctrlKey) {  
          if (objEvent.keyCode == 65) {
            objEvent.preventDefault();
            return false;
          }
        }
      });
      var getIndexFromSelection = function(node, offset) {
        if (node.id === 'content') {
          node = node.childNodes[offset]
        }
        var count = 0
        if (node.parentNode.className === 'click' ||
            node.parentNode.className === 'selection') {
          node = node.parentNode
        }

        if (node.nodeType === Node.TEXT_NODE) {
          count = offset
        }

        if (node.previousSibling) {
          node = node.previousSibling;
        } else {
          node = node.parentNode;
        }
        while (node.id !== 'content') {
          if (node.nodeType === Node.TEXT_NODE) {
            count += node.length
          } else if (node.nodeName === 'BR') {
            count += '<br>'.length
          } else {
            var div = $(node).clone().wrap('<div>').parent().html()
            count += div.length
          }

          if (node.previousSibling) {
            node = node.previousSibling;
          } else {
            node = node.parentNode;
          }
        }
        return count
      }

      var onSelect = function(e) {
        var selection = window.getSelection()
        var anchorNode = selection.anchorNode
        var anchorOffset = selection.anchorOffset
        var focusNode = selection.focusNode
        var focusOffset = selection.focusOffset
        var start = getIndexFromSelection(anchorNode, anchorOffset)
        var end = getIndexFromSelection(focusNode, focusOffset)
        if (!selection.isCollapsed) {
          if (start > end) { //flip if start is greater than end
            var tmp = start
            start = end
            end = tmp
          }
          clientRects = selection.getRangeAt(0).getClientRects();
          selectionText = selection.toString()
        } else {
          if (start > selectionStart && start < selectionEnd) { // if user clicks selection
            var oldHtml = $('#content').html()
            window.location = "{{ url_for('index_view') }}?key=" + selectionText
          }
          clientRects = []
        }
        selectionStart = start
        selectionEnd = end
      }

      if (!readonly) {
        // set selection functions
        $(document).on('selectionchange', onSelect);
        $(document).on('mousemove', function(ev) {
          //hide the pop up
          $("#content").css( 'cursor', 'auto');
          for (var i = 0 ; i < clientRects.length ; i++) {
            if (ev.pageX >= clientRects[i].left && ev.pageX <= clientRects[i].right &&
                ev.pageY >= clientRects[i].top  && ev.pageY <= clientRects[i].bottom ) {
              // change the cursor
              $("#content").css('cursor', 'pointer');
              break;
            }
          }
        })
      }


      $(document).click(function(e) {
        while ($('#content').height() < e.pageY) {
          $('#content').html($('#content').html() + "<br/>")
          reload()
        }
      })

      var pendingRequests = -1
     
      $('#content').on('input', function(e) {
        body = $(this).html()
          .replace(/&nbsp;(?!<)/ig, ' ')
          .replace(/ style="(.)+?"/ig, '')
          .replace(/ class="(.)+?"/ig, '')
          .replace(/ href="(.)+?"/ig, '') // removeLinks
          .replace(/\n/ig, '')
          .replace(/<br>/ig, '\n')
          .replace(/<(\w)+?>/ig, '')
          .replace(/<\/div>/ig, '')
          .replace(/<\/(\w)+?>/ig, '\n')
          .replace(/<img src="/ig, '') // remove images
          .replace(/" title="" style="">/ig, '')
          .replace(/">/ig, '')
          .replace(/<span /ig, '')
        waiting = true
        pendingRequests += 1
        $.post("{{ url_for('index_post') }}", {body: body, key: pageKey}, function(data) {
          if (pageKey === 'login' && data.success) {
            window.location = '/'
          }
        });
      });

			socket.on('disconnect', function(data) {
				console.log('Websocket was disconnected: ' + JSON.stringify(data));
			})

			// receive a message though the websocket from the server
      socket.on('{{ key }}' , function(data) {
        if (firstMessage) {
          firstMessage = false;
          return
        }
        pendingRequests -= 1
        if (pendingRequests < 0) {
          pendingRequests = 0
        }
        if (!pendingRequests) {
          var position = getCurrentCursorPosition('content')
          $('#content').html(data.body)
          setCurrentCursorPosition(position, 'content')
          reload()
        }
			})

      function linkClick(e) {
        window.location = "{{ url_for('index_view') }}?key=" + encodeURIComponent($(this).text())
      }

      var colors = [
         '#00A0B0',
         '#6A4A3C',
         '#CC333F',
         '#EB6841',
         '#EDC951'
      ];

      function linkColor() {
        var color = colors[Math.floor(Math.random() * colors.length)]
        $(this).css('color', color)
      }

      function anchorClick(e) {
        window.location = $(this).attr('href')
      }


      reload()

      function reload() {
        $('.click').each(linkColor)
        $('.click').click(linkClick)
        $('a').click(anchorClick)
      }

      $("#content").focus()
		});
  </script>
</head>

<body>
  <div class='ui-widget'>
    <input id='search' style='width:100%;box-sizing:border-box;'>
  </div>
  <div class="container">

  <a href="/">
    <div class="header">Syzygy Academy Wiki</div>
  </a>
    <div style="width:100%">
      <div class="title">{{key}}</div>

    </div>
    <div id="content"{% if not readonly %} contenteditable="true"{% endif %}>{{body|safe}}</div>
  </div>
</body>
</html>
